header, h3, footer {
  text-align: center;
  font-family: sans-serif;
}
header {
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}
h3 {
  line-height: 1.4;
}
footer {
  padding-bottom: 3%;
}
